@page
@model LoginWithRecoveryCodeModel
@using ReversiMvc.Security
@inject IRecaptcha _recaptcha;
@{
    ViewData["Title"] = "Recovery code verification";
}

<div class="row">
    <div class="col-md-6 m-auto">
        <form method="post">
            <h1>@ViewData["Title"]</h1>
            <hr />
            <p>
                You have requested to log in with a recovery code. This login will not be remembered until you provide
                an authenticator app code at log in or disable 2FA and log in again.
            </p>
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off"/>
                <label asp-for="Input.RecoveryCode" class="form-label"></label>
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            
            <div class="g-recaptcha" data-sitekey="@this._recaptcha.SiteKey"></div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}