@page
@model LoginWith2faModel
@using ReversiMvc.Security
@inject IRecaptcha _recaptcha;
@{
    ViewData["Title"] = "2-factor authenticatie";
}

<div class="row">
    <div class="col-md-6 m-auto">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <h1>@ViewData["Title"]</h1>
            <hr />
            <p>Uw login is nu beschermd met een authenticator-app. Voer uw authenticator code hier beneden in.</p>
            
            <input asp-for="RememberMe" type="hidden"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off"/>
                <label asp-for="Input.TwoFactorCode" class="form-label" autofocus="autofocus">Authenticator code</label>
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div>
                <div class="checkbox">
                    <label asp-for="Input.RememberMachine" class="form-label">
                        <input asp-for="Input.RememberMachine"/>
                        Onthoudt dit apparaat
                    </label>
                </div>
            </div>
            
            <div>
                <div class="g-recaptcha" data-sitekey="@this._recaptcha.SiteKey"></div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Inloggen</button>
            </div>
        </form>
    </div>
</div>
<p>
    Geen toegang tot uw authenticator-app? U kan
    <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">inloggen met een herstelcode</a>.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}