@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registratie bevestiging";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klik hier om uw account te bevestigen.</a>
</p>
    }
    else
    {
<p>
        Controleer uw mail om uw account te bevestigen.
</p>
    }
}

