@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registratie bevestiging";
}

<h1>@ViewData["Title"]</h1>
@{
    if (!Model.DisplayConfirmAccountLink)
    {
<p>
        Controleer uw mail om uw account te bevestigen.
</p>
    }
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

