@using ReversiMvc.Services.Contracts
@model ReversiMvc.Models.UsersViewModel
@inject ICurrentUserService _currentUserService

<div class="m-2">

    <table class="table table-sm table-striped table-bordered">
        <thead>
        <tr>
            <th>Gebruikersnaam</th>
            <th>Rechten</th>
            @if (this._currentUserService.IsAdmin())
            {
                <th>Bewerkingen</th>
            }
        </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.NormalizedUserName</td>
                    @if (this._currentUserService.IsAdmin())
                    {
                        <td>
                            <a asp-controller="Account" asp-action="Roles" asp-route-guid="@user.Id">Beheer rechten</a> |
                            
                            @if (!user.Id.Equals(this._currentUserService.Guid))
                            {
                                <a asp-controller="Account" asp-action="Delete" asp-route-guid="@user.Id">Verwijderen</a>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

</div>