@page
@model IndexModel
@{
    ViewData["Title"] = "Profiel";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label">Gebruikersnaam</label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label">Telefoonnummer</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            
            @if (User.IsInRole(ApplicationRoleTypes.Admin) || User.IsInRole(ApplicationRoleTypes.Mediator))
            {
                <label asp-for="Username" class="form-label">Rollen</label>
                <div>
                    <select multiple="multiple" disabled="disabled" style="overflow: hidden">
                        @foreach (var role in ApplicationRoleTypes.All)
                        {
                            @if (!User.IsInRole(role))
                            {
                                continue;
                            }
                        
                            <option value="@role" selected="selected">@role</option>
                        }
                    </select>
                </div>
            }

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Opslaan</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
