@model ReversiMvc.Models.Entities.PlayerEntity

@{
    ViewData["Title"] = $"Speler {Model.Name} verwijderen";
}

<h1>@ViewData["Title"]</h1>

<h3>Weet je zeker dat je deze speler wilt verwijderen?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Guid" />
        
        <button type="submit" class="btn btn-danger">Verwijderen</button>
        
        <a asp-action="Index">Terug naar spelersoverzicht</a>
    </form>
</div>
